<h2>Todo</h2>
<div>
  <input type="text" placeholder="filter tasks">
  <br>
  <span>{{remaining()}}remaining </span>

  <ul class="unstyled">
    <li *ngFor="let todo of todos; let i = index">
      <input type="checkbox">
      <span [ngClass]="{'done-true': todo.done}">{{todo.text}}</span>
      [<a href="#" (click)="delete(i)">remove</a>]
    </li>
  </ul>

  <form (ngSubmit)="addToDo()">
    <input type="text" name="myModel" [(ngModel)]="myModel"/>
    <input class="btn-primary" type="submit" value="add">
  </form>
  <a href="#" (click)="clean()">clean</a>
</div>
